body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 25px;
}

li:first-letter {
  text-transform: capitalize;
}

input {
  border-radius: 5px;
}

p {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

.search-button {
  border-radius: 5px;
}

.app-border {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
  max-width: 700px;
}

.city-border {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
}

.icon {
  height: 100px;
  width: 100px;
}

.weather-border {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
}

.units {
  position: relative;
  font-size: 1rem;
  top: -30px;
  left: -5px;
  font-weight: 600;
}

.temperature {
  font-size: 70px;
  font-weight: 600;
  line-height: 1.5;
}

.weather-description {
  line-height: 2;
  margin: 0;
  padding: 0;
  margin-top: 8%;
}

.overwiew {
  margin-bottom: 20px;
}

.weather-temperature .icon {
  margin-left: 20px;
}
